##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
//  default_value_register_test , run_times=1 , run_opts= ;
//  clock_divsor_test           , run_times=3 , run_opts= ;
//  counter_up_test             , run_times=1 , run_opts= ;
  reg_def_test , run_times=1 , run_opts= ;
  reg_wr_test, run_times=1 , run_opts= ;
  reg_rs_test, run_times=1 , run_opts= ;
  reg_reserved_test, run_times=1 , run_opts= ;
  reg_tsr_test, run_times=1 , run_opts= ;

  cnt_up_div1_test, run_times=1 , run_opts= ;
  cnt_up_div2_test, run_times=1 , run_opts= ;
  cnt_up_div4_test, run_times=1 , run_opts= ;
  cnt_up_div8_test, run_times=1 , run_opts= ;
  cnt_up_rd_div1_test, run_times=1 , run_opts= ;
  cnt_up_rd_div2_test, run_times=1 , run_opts= ;
  cnt_up_rd_div4_test, run_times=1 , run_opts= ;
  cnt_up_rd_div8_test, run_times=1 , run_opts= ;
  cnt_up_change_test, run_times=1 , run_opts= ;
  cnt_up_rd_change_div_test, run_times=3 , run_opts= ;

  cnt_down_div1_test , run_times=1 , run_opts= ;
  cnt_down_div2_test, run_times=1 , run_opts= ;
  cnt_down_div4_test, run_times=1 , run_opts= ;
  cnt_down_div8_test, run_times=1 , run_opts= ;
  cnt_down_rd_div1_test, run_times=1 , run_opts= ;
  cnt_down_rd_div2_test, run_times=1 , run_opts= ;
  cnt_down_rd_div4_test, run_times=1 , run_opts= ;
  cnt_down_rd_div8_test, run_times=1 , run_opts= ;
  cnt_down_change_test, run_times=1 , run_opts= ;
  cnt_down_rd_change_div_test, run_times=3 , run_opts= ;

  underflow_en_test, run_times=1 , run_opts= ;
  underflow_dis_test, run_times=1 , run_opts= ;
  overflow_en_test, run_times=1 , run_opts= ;
  overflow_dis_test, run_times=1 , run_opts= ;
}
